<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body, #wrapper {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }


        body {
            background-color: black;
        }

        #wrapper {
            display: table;
        }

        .wrapper-cell {
            display: table-cell;
            width: 50vw;
            position: relative;
            height: 100%;
        }

        .greed {
            background-color: white;
            height: 100%;
            width: 100vh;
            margin: 0 0;
        }

        .cell, .active-cell {
            -webkit-user-drag: element;
            position: relative;
        }

        .cell, .active-cell {
            background-color: white;
        }

        .active-cell {
            background-color: black;
        }

        #neural-network-output {
            background-color: white;
            width: auto;
            vertical-align: middle;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            padding: 1rem;

        }

        #balance-nn {
            color: white;
            padding: 2rem 0 2rem;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <div class="wrapper-cell" id="drawer"></div>
    <div class="wrapper-cell" style="padding: 1rem;">
        <article style="margin-bottom: 16px">
            <button id="learning-button">Learning with dataset</button>
        </article>
        <p id="neural-network-output">
            <span>Prediction: </span>
            <span id="neural-network-result">0</span>
            <br/>
            <span>Error: </span>
            <span id="neural-network-error">0</span>
            <br/>
            <span>Epoch: </span>
            <span id="neural-network-epoch">0</span>
        </p>
        <article>
            <button id="result-button">Predict</button>
            <button id="reset">Clean grid</button>
        </article>
    </div>
</div>
</body>
</html>
